body {
    background-color: #f2f2f2;
    font-family: raleway;
}

a {
    margin: 0;
    padding: 0;
    background: none;
    text-decoration: none;
    border: none;
    border-radius: 0;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.clearfix::before,
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}

.inner {
    margin: 0 auto;
    max-width: 1170px;
    text-align: center;
    font-size: 0;
    color: #333;
}

.grid__col {
    display: inline-block;
    vertical-align: top;
}
.grid__col-3 { width: 25%; }
.grid__col-5 { width: 41.666%; }
.grid__col-7 { width: 58.333%; }

.transition,
ul.sns__list li {
    transition: all 0.3s;
}

/*  header  */
.header {
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    display: block;
    position: fixed;
}
.header__inner { padding: 15px 0; }
.header__logo {
    color: #777;
    font-size: 15px;
    float: left;
    padding-left: 15px;
}
.header__logo:hover { opacity: 0.8; }
.header__menu { position: relative; }
.header__btn {
    display: block;
    font-size: 14px;
    padding: 15px;
    margin: 5px 15px;
    line-height: 20px;
    background-color: #74cfae;
    color: #fff;
    float: right;
}
.header__btn:hover { color: #333; }

 /*  toggle  */
.nav-toggle {
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    float: right;
    width: 23px;
    height: 13px;
    cursor: pointer;
    margin: 13px 15px;
}
.nav-toggle div { position: relative; }
.nav-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ddd;
    left: 0;
}
.nav-toggle span:nth-child(1) { top: 0; }
.nav-toggle span:nth-child(2) { top: 6px; }
.nav-toggle span:nth-child(3) { top: 12px; }

/*  keyvisual  */
.keyvisual { padding-top: 90px; }
.keyvisual__inner { padding: 250px 15px;　}
.keyvisual__title {
    font-size: 90px;
    font-weight: 700;
    color: #74cfae;
    margin-bottom: 20px;
}
.keyvisual__caption {
    font-size: 30px;
    color: #c0c0c0;
}
.keyvisual__title h1,
.keyvisual__caption p {
    display: inline-block;
}

/*  what  */
.what { background-color: #74cfae; }
.what__inner {
    padding: 50px 15px 0 15px;
    color: #fff;
    margin: 0 auto;
}
.what__img {
    background-image: url(../img/iphone.png);
    width: 208px;
    height: 295px;
    background-repeat: no-repeat;
    margin: 0 150px;
}
.what__txt {
    font-weight: lighter;
    padding: 0 20px;
}
.what__title {
    font-size: 24px;
    margin-bottom: 35px;
}
.what__caption {
    font-size: 20px;
    font-family: lato;
    line-height: 30px;
}

/*  work  */
.work__inner { padding: 60px 15px 70px 15px; }
.work__title {
    font-size: 24px;
    margin-bottom: 40px;
}
.work__img__list { margin-bottom: 90px; }
ul.work__img__list > li { margin-left: 100px; }
ul.work__img__list > li:first-child,
ul.work__img__list > li:nth-child(4) {
    margin-left: 0;
}
ul.work__img__list a {
    width: 300px;
    height: 300px;
    opacity: 0.7;
    display: inline-block;
}
ul.work__img__list a:hover { opacity: 1; }
ul.work__img__list > li:nth-child(n):nth-child(-n+3),
ul.work__img__list > li:nth-child(n+4):nth-child(-n+6) {
    position: relative;
    display: inline-block;
}
ul.work__img__list > li:nth-child(n+4):nth-child(-n+6) { margin-top: 80px; }
.work__caption {
    font-size: 21px;
    word-break: keep-all;
    font-weight: lighter;
    line-height: 30px;
    font-family: lato;
    letter-spacing: 1.1px;
}
.mail {
    font-size: 19px;
    color: #fff;
    padding: 15px 35px;
    background-color: #74cfae;
    font-family: lato;
    font-weight: lighter;
}
.mail:hover { color: #333; }
.wb {
    display: inline-block;
    vertical-align: top;
}

/*   skill  */
.skill { background-color: #4e4e4e; }
.skill__inner {
    padding: 70px 15px 100px 15px;
    color: #fff;
}
.skill__title {
    font-size: 24px;
    margin-bottom: 70px;
}
.skill__img {
    background-repeat: no-repeat;
    width: 122px;
    display: inline-block;
    margin-left: 180px;
    font-size: 16px;
    color: #fff;
}
.skill__img:first-child { margin-left: 0; }
.skill__img img { padding-bottom: 20px; }
.javacripts { background-image: url(../img/circle_01.png); }
.bootstrap { background-image: url(../img/circle_02.png); }
.wordpress { background-image: url(../img/circle_03.png); }
.photoshop { background-image: url(../img/circle_04.png); }

/*  sns  */
.sns__inner {
    max-width: 800px;
    padding: 200px 15px;
}
.sns__list > li {
    display: inline-block;
    width: 23%;
}
.sns__link {
    display: block;
    padding: 30px;
}
.sns__icon {
    font-size: 50px;
    color: #74cfae;
}
.sns__link:hover { background-color: #fff; }

/*  footer  */
.footer { background-color: #74cfae; }
.footer__inner {
    padding: 0 15px;
    height: 75px;
}
div.footer__inner p {
    font-size: 15px;
    color: #fff;
    float: right;
    padding: 30px 0;
}


/*   tab   */
@media screen and (max-width: 1199px) {
    .grid__col-5,
    .grid__col-7,
    .grid__col-3 {
        display: block;
        width: 100%;
    }
    .what__img {
        background-position: center;
        margin: 0 auto;
    }
    .what__txt {
        margin: 0 auto;
        background-position: center;
        text-align: center;
        max-width: 900px;
        padding: 0;
        margin-top: 25px;
    }
    .what__inner { padding-bottom: 25px; }

    ul.work__img__list > li:nth-child(n):nth-child(-n+3),
    ul.work__img__list > li:nth-child(n+5):nth-child(-n+6),
    .wb {
        margin: 0 auto;
    }
    ul.work__img__list > li:nth-child(n):nth-child(-n+3),
    ul.work__img__list > li:nth-child(n+4):nth-child(-n+6) {
        display: block;
    }
    .work__caption { margin-bottom: 40px; }

    .skill__img {
        margin: 0 auto;
        display: block;
        margin-top: 88px;
    }
    .skill__img:first-child { margin: 0 auto; }

}

/*   sp   */
@media screen and (max-width: 766px) {

    .keyvisual__inner {
        padding-top: 160px;
        padding-bottom: 130px;
    }
    .keyvisual__title { font-size: 95px; }
    .keyvisual__caption {
        font-size: 30px;
        margin-top: 20px;
    }

    .work__caption { font-size: 16px; }

    ul.sns__list > li {
        display: block;
        width: auto;
    }
    .sns__inner { padding: 50px 15px; }

    .header__inner { padding-bottom: 0; }
    .header__logo { padding-bottom: 15px; }
    .header__menu {
        margin-top: 80px;
        display: none;
        border-top: 1px solid #f2f2f2;
    }
    .header__menu.active { display: block; }
    .header__btn {
        float: none;
        padding: 10px;
        text-align: left;
        width: 100%;
        margin: 0;
    }
    .nav-toggle { display: block; }

    .keyvisual__title h1,
    .keyvisual__caption p {
        display: block;
    }

}